= simple_form_for(@job, html:{clsas: "form-horizontal"}) do |f|
	= f.collection_select :category_id,Category.all, :id, :name, {prompt:"Choose a Category"}
	= f.input :title, label: "Job Title"
	= f.input :description,label: "Description"
	= f.input :company,label: "Company Name"
	= f.input :url,label: "Link to Job"
	%br/
	= f.button :submit